<div class="banner" style="background-image: linear-gradient(-200deg, rgba(60,101,168,0.6) 0%, rgba(0,36,61,0.3) 20%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <h1>Le Wagon Berlin</h1>
    <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div
